recursive-include igen_templates *.swift
recursive-include igen_templates *.strings
recursive-include igen_templates *.yml
recursive-include igen_templates *.h
recursive-include igen_templates *.txt
recursive-include igen_templates *.md
recursive-include igen_templates *.png
recursive-include igen_templates *.plist